.upfront{
    background-image: url("../img/upfront.jpg");
    background-size: cover;
    background-position: center;
}

.bold{
    font-weight: bold;
}

.blackBorder{
    border: 0.1rem solid black;
}
